{%- comment -%}----------------------------------------------{%- endcomment -%}
{%- comment -%}                Variables                     {%- endcomment -%}
{%- comment -%}----------------------------------------------{%- endcomment -%}
{%- comment -%}----------------------------------------------------------------
  set page year and month to control what detail will be opened
-------------------------------------------------------------{%- endcomment -%}
{%- if page.posted_at -%}
  {%- assign page_year = page.posted_at | date: "%Y" -%}
  {%- assign page_month = page.posted_at | date: "%m" -%}
{%- else -%}
  {%- if page.created_at -%}
    {%- assign page_year = page.created_at | date: "%Y" -%}
    {%- assign page_month = page.created_at | date: "%m" -%}
  {%- else -%}
    {%- assign page_year = "today" | date: "%Y" -%}
    {%- assign page_month = "today"| date: "$m" -%}
  {%- endif -%}
{%- endif -%}
{%- comment -%}----------------------------------------------------------------
  Capture opening Year's summary to facilite legibility on template
-------------------------------------------------------------{%- endcomment -%}
{%- capture open_summary_year -%}
  <details OPEN>
      <summary>YEAR</summary>
      <div class="detail-content">  
{%- endcapture -%}
{%- comment -%}----------------------------------------------------------------
  Capture clossing Year's summary to facilite legibility on template
-------------------------------------------------------------{%- endcomment -%}
{%- capture close_summary_year -%}
  </div>
    </details>
{%- endcapture -%}
{%- comment -%}----------------------------------------------------------------
    Capture opening Month's summary to facilite legibility on template
-------------------------------------------------------------{%- endcomment -%}
{%- capture open_summary_month %}
        <details OPEN>
          <summary>MONTH</summary>
          <ul class="detail-content">
{%- endcapture -%}
{%- comment -%}----------------------------------------------------------------
    Capture closing Month's summary to facilite legibility on template
-------------------------------------------------------------{%- endcomment -%}
{%- capture close_summary_month -%}
            </ul>
        </details>
{%- endcapture -%}
{%- comment -%}----------------------------------------------{%- endcomment -%}
{%- comment -%}                 Sidebar                      {%- endcomment -%}
{%- comment -%}----------------------------------------------{%- endcomment -%}
<aside>
    {% for post in site.posts -%}
        {%- comment -%} set post year and month {%- endcomment -%}
        {%- if post.posted_at -%}
            {%- assign post_year = post.posted_at | date: "%Y" -%}
            {%- assign post_month = post.posted_at | date: "%m" -%}
        {%- else -%}
            {%- assign post_year = post.created_at | date: "%Y" -%}
            {%- assign post_month = post.created_at | date: "%m" -%}
        {%- endif -%}
        {%- comment -%}------------
            Control years group
        -------- {%- endcomment -%}
        {%- if post_year != year -%}
            {%- if year -%}
                {{- close_summary_year -}}
            {%- endif -%}
            {%- assign year = post_year -%}
            {%- if year == page_year -%}
                {%- assign open = "open" -%}
            {%- else -%}
                {%- assign open = "" -%}
            {%- endif -%}
            {{- open_summary_year | replace: "YEAR", year | replace: "OPEN", open -}}
        {%- endif -%}
        {%- comment -%}------------
            Control month group
        -------- {%- endcomment -%}
        {%- if post_month != month -%}
            {%- if month -%}
                {{- close_summary_month -}}
            {%- endif -%}
            {%- assign month = post_month -%}
            {%- if month == page_month -%}
                {%- assign open = "open" -%}
            {%- else -%}
                {%- assign open = "" -%}
            {%- endif -%}
            {{- open_summary_month | replace: "MONTH", month | replace: "OPEN", open -}}
        {%- endif -%}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {%- endfor -%}
    {{- close_summary_month -}}
    {{- close_summary_year }}
  </aside>
