{% if page.posted_at %}
    {% assign page_year = page.posted_at | date: "%Y" %}
    {% assign page_month = page.posted_at | date: "%m" %}
{% else %}
    {% if page.created_at %}
        {% assign page_year = page.created_at | date: "%Y" %}
        {% assign page_month = page.created_at | date: "%m" %}
    {% else %}
        {% assign page_year = "today" | date: "%Y" %}
        {% assign page_month = "today"| date: "$m" %}
    {% endif %}
{% endif %}

{% capture open_summary_year %}
    <details OPEN>
        <summary>YEAR</summary>
        <div>  
{% endcapture %}

{% capture close_summary_year %}    
        </div>
    </details>
{% endcapture %}

{% capture open_summary_month %}
            <details OPEN>
                <summary>MONTH</summary>
                <ul>
{% endcapture %}

{% capture close_summary_month %}
                </ul>
            </details>
{% endcapture %}

<aside>
    {% for post in site.posts %}
        {% if post.posted_at %}
            {% assign post_year = post.posted_at | date: "%Y" %}
            {% assign post_month = post.posted_at | date: "%m" %}
        {% else %}
            {% assign post_year = post.created_at | date: "%Y" %}
            {% assign post_month = post.created_at | date: "%m" %}
        {% endif %}

        {% if post_year != year %}
            {% if year %}
                {{ close_summary_year }}
            {% endif %}
            {% assign year = post_year %}
            {% if year == page_year %}
                {% assign open = "open" %}
            {% else %}
                {% assign open = "" %}
            {% endif %}
            {{ open_summary_year | replace: "YEAR", year | replace: "OPEN", open }}
        {% endif %}

        {% if post_month != month %}
            {% if month %}
                {{ close_summary_month }}
            {% endif %}
            {% assign month = post_month %}
            {% if month == page_month %}
                {% assign open = "open" %}
            {% else %}
                {% assign open = "" %}
            {% endif %}
            {{ open_summary_month | replace: "MONTH", month | replace: "OPEN", open }}
        {% endif %}
                    <li><h2><a href="{{ post.url }}">{{ post.title }}</a></h2></li>
    {% endfor %}
    {{ close_summary_month }}
    {{ close_summary_year }}
</aside>